<div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
        <h5 class="card-title">Forgot Password</h5>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email Address" [(ngModel)]="email">
        </div>

        <button type="button" class="btn btn-primary" [disabled]="submitted" (click)="login()">Submit</button>
    </div>
</div>

<!-- <button (click)="login()">
  Login
</button> -->